<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bolder" routerLink="/">Collection of Quotes</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" >
        <a class="nav-link" routerLink="/quotes">Quotes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/add-quote">Add new quote</a>
      </li>
    </ul>
  </div>
</nav>
