<div class="row mt-2">
  <div class="col-6">
    <h4 class="mb-3">{{ title }}</h4>
    <form (ngSubmit)="addQuote()">
      <div class="form-group">
        <label for="category">Category:</label>
        <select id="category" class="form-control" name="category" [(ngModel)]="category">
          <option value="star-wars">Star Wars</option>
          <option value="famous-people">Famous people</option>
          <option value="saying">Saying</option>
          <option value="humor">Humor</option>
          <option value="motivational">Motivational</option>
        </select>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" id="author" class="form-control" name="author" [(ngModel)]="author">
      </div>
      <div class="form-group">
        <label for="quoteText">Quote text</label>
        <textarea class="form-control" id="quoteText" name="text" [(ngModel)]="text"></textarea>
      </div>
      <button type="submit" class="btn btn-dark btn-lg">Add</button>
    </form>
  </div>
</div>
