<h4 class="mb-3">Quotes</h4>

<div class="card mb-2" *ngFor="let quote of quotes; let i = index">
  <div class="card-header">Author: {{ quote.author }}</div>
  <div class="card-body row justify-content-between">
    {{ quote.text }}
    <div class="btn-group">
      <button class="btn btn-danger" (click)="deleteQuote(i)">Delete</button>&nbsp;
      <button class="btn btn-primary" [routerLink]="['/quotes/', quote.id, 'edit']">Edit</button>
    </div>
  </div>
</div>
