<div class="row mt-4">
  <div class="col-3">
    <ul>
      <li><a routerLink="/quotes">All</a></li>
      <li><a routerLink="/quotes/star-wars">Star Wars</a></li>
      <li><a routerLink="/quotes/famous-people">Famous people</a></li>
      <li><a routerLink="/quotes/saying">Saying</a></li>
      <li><a routerLink="/quotes/humor">Humor</a></li>
      <li><a routerLink="/quotes/motivational">Motivational</a></li>
    </ul>
  </div>
  <div class="col-7">
    <router-outlet></router-outlet>
  </div>
</div>
